.post
  .post-title
    color #b58900
    font-size 4rem
    font-weight 400
    line-height 120%
  .post-subtitle
    color #93a1a1
    font-weight 400
  .post-content
    margin-top 40px
    color #657b83
    font-size 18px
    h2, h3, h4, h5, h6
      position relative
      .header-anchor
        visibility hidden
        position absolute
        transform translateX(-100%)
        &:hover
          cursor pointer
          background-color transparent
      &:hover
        .header-anchor
          visibility visible
          text-decoration none !important
    code
      font-size 1rem
      tab-size 4
    blockquote
      border-color #EEE8D5
    hr
      background-color rgba(0,0,0,.04)
    ul
      padding-left 0
      >li
        list-style-type cjk-ideographic
      li
        background-color rgba(0,0,0,.04)
        padding 3px 10px
      li:nth-child(2n)
        background-color rgba(37, 26, 26, 0.11)
