@media screen and (min-width: 768px)
  .header
    height 60px
    line-height @height
    .container
      max-width 52rem
      margin 0 auto
    h1.site-name
      a
        font-size 1.7rem
        width 8rem
        text-align center
    .nav
      li
        a
          font-size 1.7rem
          padding 0 1.2rem
  .footer
    height 3rem
    line-height @height
    font-size 1.2rem

@media screen and (max-width: 768px)
  .hide-on-mobile
    display none
  .sidebar
    display none
  .egoist-name
    font-size 20px
  .centered
    margin 10px
  .post-list
    margin-top 20px
    .post-item
      margin-bottom 10px
      .post-title
        a
          font-size 14px
  .post
    .post-title
      font-size 20px
    .post-content
      margin-top 10px
      font-size 16px
    h2
      font-size 18px
    h3
      font-size 16px
    h4
      font-size 14px
    ul
      li
        list-style-type none !important
