.post .post-header {
  text-align: center;
}
.post .post-header h2.post-title {
  font-weight: 400;
}
.post .post-header .post-meta {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}
.post .post-header .post-meta .post-meta-sep {
  margin: 0 8px;
}
.post .post-content {
  margin-top: 30px;
}
