@import 'normalize'
@import 'reset'
@import 'mixins'
@import 'nib'
@import 'markdown'
@import 'highlight'
@import 'zoom'

body
  margin 0
  font 16px/1.7 "Helvetica Neue",'Helvetica',Arial, "Microsoft YaHei","STKaiti","Droid Sans Fallback",SimSun,serif
  background-color #f2eee8

@media screen and (min-width: 768px)
  .node-city
    background-image url('/images/node-city.jpg')
    background-repeat no-repeat
    background-size cover
    height 300px
    width 100%
    position absolute
    z-index 1

a
  color #333
  &.link
    color #1d75ab
    &:hover
      text-decoration underline

.header
  text-align center
  padding 50px 0
  position relative
  h1.sitename
    font-size 20px
    letter-spacing 2px
    a
      color #333
      &:visited
        color @color
  h2.slogan
    font-size 12px
    text-transform uppercase
    color #999

.container
  max-width 660px
  margin 0 auto

.page
  padding 80px 30px 20px 30px
  position relative
  background-color white
  border-radius 3px
  border 1px solid #e2e2e2
  position relative
  z-index 2

.wechat
  background-color white
  position fixed
  bottom 0
  right 10px
  text-align center
  color #999
  border 1px solid #e2e2e2
  border-bottom none
  transition transform .3s ease
  transform translateY(120%)
  .wechat-close
    padding 5px 0
    border-bottom 1px solid #e2e2e2
    cursor pointer
    &:hover
      background-color #f9f9f9
  .wechat-qrcode
    height 200px
    width @height
    background-size cover
  &.wechat-show
    transform translateY(0)

.intro
  p()
  p
    font-size 14px
  a
    color #1D75AB
    &:hover
      border-bottom 1px solid
  h3
    font-weight 400
    margin-bottom 20px

.accept, .notAccept
  &:before
    content ''
    size .7em .7em
    background-color #333
    display inline-block
    margin-right .4em
    border-radius 50%

.accept
  accept-status #5cb85c

.notAccept
  accept-status #ccc

ul.posts
  padding-left 0
  list-style none
  .post-title
    font-weight 400
  .post-date
    color #999
    font-size 13px
  li+li
    margin-top 10px

pre[class*="language-"]
  margin-bottom 30px

@import 'post'

.footer
  text-align center
  padding 35px 0
  color #999
  border-top 1px solid #f0f0f0
  margin-top 20px
  font-size 26px

.avatar-wrapper
  size 100px 100px
  position absolute
  text-height 100px
  bottom -50px
  left 50%
  transform translateX(-50%)
  border-radius 50%
  border 1px solid #e2e2e2
  background-color white
  text-align center
  z-index 9999
  // box-shadow 2px 3px 3px #eee
  .paper-folder
    color #ccc
    height 100px
  .avatar
    display inline-block
    background-size cover
    size 90px 90px
    border-radius 50%
    margin 5px
    text-indent -9999em
    background-color #eee


@media screen and (max-width: 768px)
  .header
    padding 15px 0
  .container
    padding 0 10px
  .hide-on-mobile
    display none
  .header
    text-height 50px
  .page
    padding-top 60px
    padding-left 20px
    padding-right 20px
  .wechat
    right 30px
