text-height(n)
  height n
  line-height n

p()
  p
    margin 0 0 30px 0
    &:last-child
      margin-bottom 0

accept-status(color)
  color color
  a
    color color
  &:before
    background-color color
