.post
  .post-header
    text-align center
    h2.post-title
      font-weight 400
    .post-meta
      margin-top 10px
      color #999
      font-size 12px
      .post-meta-sep
        margin 0 8px
  .post-content
    margin-top 30px
    font-size 18px
    font-smoothing: antialiased;
    line-height 150%
    font-family "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
    p()
    h2,h3,h4
      font-family "Helvetica Neue",'Helvetica',Arial, "Microsoft YaHei","STKaiti","Droid Sans Fallback",SimSun,serif
    h2
      font-size 22px
      color #666
    h3
      font-size 15px
      color #666
      font-family 'Helvetica Neue',Helvetica,Arial,sans-serif
    ul
      list-style square
    ul, ol
      padding-left 20px
    hr
      margin 16px auto
  .post-twitter
    background-color #f5f2f0
    padding 10px
    margin-top 40px
    font-size 13px
    border-radius 2px
  .post-ccby
    padding-top 20px
    margin-top 20px
    color #999
    border-top 1px solid #ddd
    font-size 13px
    position relative
    &:before, &:after
      position absolute
      content ''
      display block
      width 12px
      height @width
      background-color #ddd
      border-radius 50%
      top 0
      left 50%
      transform translateY(-50%) translateX(-50%)
    &:after
      width 10px
      height @width
      background-color white
  .post-os
    cursor pointer
    background-color #f9f9f9
    border 1px solid #e2e2e2
    padding 5px 8px
    border-radius 2px
    color #999
    margin-top 30px
    display none
  .duoshuo
    margin-top 20px
    .ds-comments
      border-bottom-color #ddd !important
    .ds-powered-by, .ds-post-placeholder, .ds-comments-info
      display none !important
    #ds-reset
      .ds-gradient-bg, .ds-post-button, .ds-textarea-wrapper
        background-image none !important
      .ds-post-button
        background-color #f9f9f9 !important
        outline none !important
        &:hover
          background-color #f0f0f0 !important
      .ds-post-options, .ds-post-button, .ds-textarea-wrapper
        border-color #ddd !important
