a
  color #333
  text-decoration none

h1,h2,h3,h4,h5
  margin 0

body
  hr
    border none
    background-color #eee
    max-width 100px
    height 2px
    display block
    margin 20px auto
  figure
    margin 0

pre[class*=language-]
  .ps-scrollbar-x-rail
    .ps-scrollbar-x
      border 1px solid #bbb
      background-color #ccc
    &:hover
      .ps-scrollbar-x
        background-color #DCDCDC !important
