extends base

block header
  header.home-header
    .container
      h1.site-name EGOIST
      ul.header-description
        li
          a(href="/about.html") 关于我
        li
          a(href="/girls.html") 后宫大乱战
        li
          a(href="/gf.html") 诚招女友
block page
  section.page-home
    .container.content.markdown-body
      h2.hr
        span posts
      ul.post-list
        - page.posts.each(function(post) {
          +article(post)
        - })
    .home-pagenavi
      if page.next
        a.old(href="/page/#{page.next}") 旧的文章
      if page.prev
        a.new(href=page.prev === 1 ? '/' : "/page/#{page.prev}") 新的文章
