hr_h2() {
  position: relative;
  text-align: center;
  border-bottom: none;
  color: #999;
  font-weight: normal;
  font-size: 1.2rem;
  span {
    background-color: white;
    padding: 0 10px;
    text-transform: uppercase;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: #ccc;
    z-index: -1;
  }
}

old_fashion() {
  text-shadow: 0.05em 0.05em black, -0.05em -0.05em black, 0.10em 0.10em black, -0.10em -0.10em black, 0.15em 0.15em black, -0.15em -0.15em black, 0.20em 0.20em black, -0.20em -0.20em black;
  color: yellow;
  text-decoration: none;
  &:hover {
    text-shadow: 0.05em 0.05em blue, -0.05em -0.05em red, 0.10em 0.10em blue, -0.10em -0.10em red, 0.15em 0.15em blue, -0.15em -0.15em red, 0.20em 0.20em blue, -0.20em -0.20em red;
  }
}
