.repo-meta {
  .repo-meta-item {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    svg {
      margin-right: 5px;
      width: 14px;
    }
  }
}
